body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #999;
    margin: 0;
}


/*
transform => default;
-webkit-transform => chrome;
-moz-transform => mozilla;
-ms-transform => ie /edge;

mixin

@mixin rotacionar($parametros){
}

*/