@import 'test-file';


@mixin rotacionar($graus){
    transform:rotate($graus);
    -webkit-transform:rotate($graus);
    -moz-transform:rotate($graus);
    -ms-transform:rotate($graus);
}

/*  var   */

$color-bg: #f5f5f5;
$color-nav: black;
$color-text-default: tomato; 
$color-text-nav: #f5f5f5;
$border-default: 2px;


nav{
    background-color: $color-nav;
    color: $color-text-default;

    ul{
        list-style: none;
        margin: 0;
        padding: 30px;

        li{
            display: inline-block;
            margin: 0px 20px;

            @include rotacionar(180deg);

             a{
                color: $color-text-nav;
                display:block;
                padding: 10px;
                text-decoration: none;
                background-color: 999;
                border: $border-default solid $color-text-default;
            }

        }
       
    }

}


/*  grupo de propriedades  */

%msg-default { 
    padding: 5px;
    font-size: 24px;
    border: 1px solid #ccc;
    margin: auto;
    max-width: 400px;
    margin-top: 5px;
    text-align: center;
}

.msg-info{
    @extend %msg-default;
    border-color: aqua;
    color: aqua;
}

.msg-alert{
    @extend %msg-default;
    border-color: red;
    color: red;
}

.msg-sucess{
    @extend %msg-default;
    border-color: greenyellow;
    color: greenyellow;
}

/* calc */

%item { 
    background-color: #000;
    height: 20px;   
}

$item-width: 100px;

.item{
    @extend %item;
    width: $item-width ;
}

.item-duplo{
    @extend %item;
    width: $item-width * 2;
}

.item-triplo{
    @extend %item;
    width: $item-width * 3;
}

.item-metade{
    @extend %item;
    width: $item-width / 2;
}

/* for */
/* if else */

%id-default{
    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 100px;
}



@for $i from 1 through 9 {
    .id-#{$i} {
        @extend %id-default;
    
        @if $i <= 3 {
            font-weight: bold;
            color: crimson;
        }
        @else{
            font-weight: light;
            color: darkcyan;
        }
        
    }
}

