body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  background-color: #999;
  margin: 0;
}

/*
transform => default;
-webkit-transform => chrome;
-moz-transform => mozilla;
-ms-transform => ie /edge;

mixin

@mixin rotacionar($parametros){
}

*/
/*  var   */
nav {
  background-color: black;
  color: tomato;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 30px;
}
nav ul li {
  display: inline-block;
  margin: 0px 20px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
nav ul li a {
  color: #f5f5f5;
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: 999;
  border: 2px solid tomato;
}

/*  grupo propriedades  */
.msg-info, .msg-alert, .msg-sucess {
  padding: 10px;
  font-size: 24px;
  border: 1px solid #ccc;
  margin: auto;
  max-width: 200px;
  margin-top: 20px;
}

.msg-info {
  border-color: aqua;
  color: tomato;
}

.msg-alert {
  border-color: red;
  color: red;
}

.msg-sucess {
  border-color: greenyellow;
  color: greenyellow;
}
